:root {
    --menu-h: 100px
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
    background-color: transparent;
}

@keyframes opacity
{
    from { opacity: 0; }
    to { opacity: 0; }
}

@keyframes translate-left
{
from {
    opacity: 0;
    transform: translateX(-50px);
}
to {
    opacity: 1;
    transform: translateX(0);
}
}

@keyframes translate-right
{
from {
    opacity: 0;
    transform: translateX(50px);
}
to {
    opacity: 1;
    transform: translateX(0);
}
}

@keyframes translate-left-big
{
from {
    opacity: 0;
    transform: translateX(-150px);
}
to {
    opacity: 1;
    transform: translateX(0);
}
}

@keyframes translate-right-big
{
from {
    opacity: 0;
    transform: translateX(150px);
}
to {
    opacity: 1;
    transform: translateX(0);
}
}

@keyframes translate-top
{
from {
    opacity: 0;
    transform: translateY(-50px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

@keyframes translate-bottom
{
from {
    opacity: 0;
    transform: translateY(50px);
}
to {
    opacity: 1;
    transform: translateY(0);
}
}

@keyframes translate-left-bottom
{
from {
    opacity: 0;
    transform: translateY(50px) translateX(-50px);
}
to {
    opacity: 1;
    transform: translate(0);
}
}

@keyframes bounce
{
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(16px);
    }
    100% {
        transform: translateY(0);
    }
}

.hide {
    display: none !important;
}

section {
    margin: 0 !important;
}

.popup {
    position: fixed !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
    z-index: 100000;
    background-color: #fff;
    border-radius: 15px !important;
    padding: 50px !important;
    text-align: center;
    border: 0 !important;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.04);
}

.popup h4 {
    font-size: 2rem;
    font-family: Quicksand;
}

.popup span {
    font-size: 1rem;
    font-family: Quicksand;
    color: #505050;
}

.error h4 {
    color: rgb(223, 71, 71);
}
.success h4 {
    color: #4FC8CC;
}
