main {
    margin: 0;
    margin-top: 75px;
    margin-right: 0 !important;
    padding: 0;
    align-items: flex-start;
    align-content: flex-start;
}

@media (max-width: 767px) {
    main {
        margin-left: 0 !important;
    }
}

.box {
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 0;
}
.box .fullarea {
    border: none;
    margin: 25px;
    height: 100px;
    width: calc(100% - 50px);
}
.box-flat {
    border-radius: 15px;
    padding: 0;
    height: 100%;
    position: relative;
    cursor: pointer;
    min-height: 75px;
}
.box-flat span{
    padding: 5px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Quicksand;
    font-size: 1.1rem;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.box-flat img{
    height:100%;
    max-height: 150px;
    max-width: 40%;
    position: absolute;
    bottom: 15%;
    right: 15px;
    transition: .3s all;
}
.box-flat:hover {
    box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.2);
}
.box-flat:hover img {
    transform: scale(1.1);
}
.box-red {background-color: #E97171; }
.box-red span {background-color: #C14444;}
.box-aqua {background-color: #4FC8CC; }
.box-aqua span {background-color: #43BCBC;}
.box-purple {background-color: #8680DF; }
.box-purple span {background-color: #968FFF;}
.box-grid {
    border: none;
    background: none;
    padding: 15px;
}
.box .head {
    position: relative;
    height: 65px;
    border-bottom: 2px solid #F5F6FB;
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.box h3 {
    margin: 0;
    margin-left: 50px;
    color: #505050;
    font-family: Quicksand-bb;
    font-size: 1.4rem;
}
.box .content {
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
}
.box .content .table {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    border-bottom: 2px solid #F5F6FB;
    margin: 0;
}
.box .content form {
    padding-bottom: 60px;
}
.box .content h4 {
    margin: 0;
    color: #505050;
    font-family: Quicksand-bb;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
.box .content h4 img {
    height: 20px;
    margin-right: 15px;
}
.box .content p {
    margin: 0;
    margin-top: 15px;
    color: #505050;
    font-family: Quicksand-b;
    font-size: .8rem;
    margin-bottom: 25px;
    white-space: pre-wrap;
}
.box .content .signed {
    margin: 0;
    margin-top: 15px;
    color: #ACAFBC;
    font-family: Quicksand;
    font-size: 1rem;
    position: absolute;
    right: 50px;
    bottom: 15px;
}
.box .content .signed::before {
    content: ' ';
    height: 2px;
    width: 8px;
    position: absolute;
    top: calc(50% - 1px);
    left: -13px;
    background-color: #ACAFBC;
}
.box .content .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}
input:focus, input.form-control:focus,textarea:focus, textarea.form-control:focus,select:focus, select.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.box .content .form-group label {
    color: #505050;
    font-family: Quicksand-b;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.box .content .form-group input {
    background-color: #F5F6FB;
    border: none !important;
    outline: none !important;
    font-family: Quicksand;
    height: 100%;
    border-radius: 5px 0 0 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
}

.box .content .form-group select {
    background-color: #ffffff;
    border-radius: 5px;
}

.box .content .form-group textarea {
    background-color: #F5F6FB;
    border: none !important;
    outline: none !important;
    font-family: Quicksand;
    height: 100%;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 150px;
}

.box .content .form-group button {
    background: rgb(80,201,201);
    background: linear-gradient(140deg, rgba(80,201,201,1) 0%, rgba(71,186,235,1) 100%);
    border: none;
    height: 35px;
    width: 35px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 0 5px 5px 0;
}
.box .content form .btn-grad {
    background: rgb(80,201,201);
    background: linear-gradient(140deg, rgba(80,201,201,1) 0%, rgba(71,186,235,1) 100%);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s all ease-in-out;
    position: absolute;
    right: -15px;
    bottom: -15px;
}

.box .content form .btn-grad:hover {
    transform: scale(1.1);
    background: linear-gradient(140deg, rgba(71,186,235,1) 0%, rgba(80,201,201,1) 100%);
}

.box .content form .btn img {
    height: 25px;
    margin-left: 2.5px;
}
.box .content .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}
.box .content .table p {
    margin: 0;
    color: #505050;
    font-family: Quicksand;
    font-size: 1rem;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}

img {
  pointer-events: none;
}

@media (min-width: 1400px) {
    .col-xl-4 {
        flex: 0 0 calc((100vw / 12) * 3) !important;
        max-width: calc((100vw / 12) * 3) !important;
    }
    .col-xl-8 {
        flex: 0 0 calc((100vw / 12) * 6) !important;
        max-width: calc((100vw / 12) * 6) !important;
    }
    .col-xl-7 {
        flex: 0 0 calc((100vw / 12) * 5) !important;
        max-width: calc((100vw / 12) * 5) !important;
    }
    .offset-xl-1 {
        margin-left: calc((100vw / 12) * 1) !important;
    }
}
